<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stundenplan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stundenplan.css') }}">
</head>
<body>
    <header>
        <h1>Stundenplan</h1>
    </header>
    <div class="infos">
        <p>Klasse: <span id="klasse">23/2</span></p>
        <p>KW: <span id="kw"></span>{{kalender[0]["kalenderwoche"]}}</p>
        <p>Datum: <span id="datum">{{kalender[0]["start_datum"]}} - {{kalender[0]["end_datum"]}}</span></p>
      </div>

    <div class="timetable">
        <table>
            <thead>
                <tr>
                    <th>Uhrzeit</th>
                    <th>Montag</th>
                    <th>Dienstag</th>
                    <th>Mittwoch</th>
                    <th>Donnerstag</th>
                    <th>Freitag</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>08:00 - 09:30</td>
                    <td rowspan="5">Projektarbeit</td>
                    <td rowspan="5">Projektarbeit</td>
                    <td rowspan="5">Projektarbeit</td>
                    <td rowspan="5">Projektarbeit</td>
                    <td rowspan="4">Projektarbeit</td>
                </tr>               
                <tr>
                    <td>09:45 - 11:15</td>
                </tr>
                <tr>
                    <td>11:20 - 12:10</td>
                </tr>
                <tr>
                    <td>12:45 - 14:15</td>
                </tr>
                <tr>
                    <td>14:20 - 15:10</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <p>&copy; BWSA-Stundenplan</p>
    </footer>
</body>
</html>
